body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }

.app{
    height: 600px;
    width: 500px;
    background-image: url(bg.jpg);
    background-size: cover;

}
p{
    font-size: 50px;
    text-align: center;
    color: pink;
}
.counter{
    text-align: center;
    font-size: 40px;
    color: pink;

}
#buttons{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
#increment{
    font-size: 30px;
    margin-bottom: 30px;
    color:purple ;
    background-color: pink;
}

#save{
    font-size: 30px;
    margin-bottom: 20px;
    width: 150px;
    color:purple ;
    background-color: pink;
}
#pe{
    font-size: 30px;
}